body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.white {
    color: #ffffff;
}

.pointer {
    cursor: pointer;
}


.shrink {
    background-color: #11161a;
    padding-top: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.topcover {
    background: url(../img/coverfic.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}


.smallnavtop {

    font-size: 13px;
    color: #ffffff;
}



.mainav {
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
}

.orange {
    color: #228dd7;
}


.balcksmall {
    color: #000000;
    font-size: 15px;
}

.balckmini {
    color: #5c5c5c;
    font-size: 13px;
}

.balcksmall:hover {
    text-decoration: none;
    color: #228dd7;
}


.blacknormal {
    color: #000000;
    font-size: 16px;
}

.blacknormal:hover {
    text-decoration: none;
    color: #000000;
}

.fixglobalspace {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #f7f8f9;
}

.fixglobalspace2 {
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.iconcircle {
    align-items: center;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: #007bff;
    border-radius: 150px;
}


.active {
    color: #228dd7;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
    color: #228dd7;
}


.cocul {
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    padding-inline-start: 0px;
    /* padding-bottom: 2rem; */
}

.bighead {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}


.btn-lg,
.btn-group-lg>.btn {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}


.centerit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub1 {
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
    position: relative;
    background: #f7f8f9;
}

.left-cover {
    position: absolute;
    width: 40%;
    height: 100%;
    background: black;
    background: url(../img/fixlaptop.jpg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tecni {
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.fot {
    padding-top: 2rem;
}


a {

    text-decoration: none;
    background-color: transparent;
}

a:hover {

    text-decoration: none;
}

.booking {
    width: 100%;
    min-height: 80vh;
    background: rgb(13, 24, 36);
    background: linear-gradient(0deg, rgba(13, 24, 36, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 5rem 0;
}


/* login */

.sub1a {
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
    position: relative;
    background: #f7f8f9;
    height: 100vh;
}

.left-covera {
    position: absolute;
    width: 40%;
    height: 100%;
    background: black;
    background: url(../img/logir.png);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.left-coverb {
    position: absolute;
    width: 40%;
    height: 100%;
    background: black;
    background: url(../img/reset.jpeg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.left-coverc {
    position: absolute;
    width: 40%;
    height: 100%;
    background: black;
    background: url(../img/account.jpeg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.form-fix {

    height: calc(1.5em + 0.75rem + 2px);
    padding: 1.375rem 0.75rem;
    background-clip: padding-box;
    border: 1px solid #f1f1f1;
    border-radius: 0.25rem;

}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgba(128, 189, 255, 0);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
    border-bottom: 1px #007bff solid;
    border-radius: 0.01px;
}

.faqcard {
    height: 7.4rem;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0.3rem;
    transition: all 1s;
}
.faqcard:hover {
    background-color: rgba(0, 123, 255, 0.08);
    box-shadow: 0 0.5rem 0rem rgba(0, 0, 0, 0.15) !important;
}

.globalbc {
    background: rgba(255, 255, 255, 0.68);
    
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #f7f8f9;
    background-clip: padding-box;
    border: 1px solid rgb(247, 248, 249);
    border-radius: 0.3rem;
    outline: 0;
}

.custom-select, .form-control {
    border-radius: 0.01rem;
    background-color: #ffffff;
    padding: 0.675rem 0.75rem;
    border: 1px solid     border: 1px solid #f1f1f1;
    height: auto;

}

/* login */


/* contact us */

.contact{
    height: 45vh;
    background: #11161a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.biggerf {
    font-size: 22px;
}

.viewmap a {
    color: white;
}

.concard {

    background-color: #f5f5f5;
    border: 1px solid rgb(255, 255, 255);
}

/* contact us */


/* technician */
.technician {
    height: 50vh;
    background: linear-gradient(to bottom right,rgba(0, 0, 0, 0.71),rgba(0, 0, 0, 0.95)), url(../img/reset.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.pushuuni {
    margin-top: -5rem;
}

a .blacknormal2 {
    color: #000000;
}

.tecni2 {
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border: 4px solid #ffffff;
}

.concard2 {

    background-color: #f5f5f5;
    border: 1px solid #f5f5f5;
    transition: all 1s;
}

.concard2:hover {
    background-color: rgba(0, 123, 255, 0.08);
    box-shadow: 0 0.3rem 0rem rgba(0, 0, 0, 0.15) !important;
}

/* technician */


/* self repair */

.selfreapir{
    height: 50vh;
    background: #11161a;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/* self repair */