body {
    margin: 0;
    font-family: 'Open Sans', sans-serif; sans-serif;
   font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


.white {
    color: #ffffff;
}



.shrink {
    background-color: #11161a;
    padding-top: 0;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

.navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}

.topcover {
    background: url(../img/coverfic.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}


.smallnavtop {
  
        font-size: 13px;
        color: #ffffff;
}



.mainav {
    color: #ffffff;
    font-weight: 600;
}

.orange  {
    color: #228dd7;
}


.balcksmall {
    color: #000000;
    font-size: 15px;
}

.balckmini {
    color: #5c5c5c;
    font-size: 13px;
}

.balcksmall:hover {
    text-decoration: none;
    color: #228dd7;
}


.blacknormal {
    color: #000000;
    font-size: 16px;
}

.blacknormal:hover {
    text-decoration: none;
    color: #000000;
}

.fixglobalspace{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background: #f7f8f9;
}

.fixglobalspace2{
    padding-top: 5rem;
    padding-bottom: 5rem;

}

.iconcircle {
    align-items: center;
    width: 90px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 25px;
    background: #007bff;
    border-radius: 150px;
}


.active  {
    color: #228dd7;
}

.nav-link:hover, .nav-link:focus {
    text-decoration: none;
    color: #228dd7;
}


.cocul{
    margin-top: 0;
    margin-bottom: 1rem;
    list-style-type: none;
    padding-inline-start: 0px;
    /* padding-bottom: 2rem; */
}

.bighead {
    font-size: 60px;
    font-weight: 700;
    color: #ffffff;
}


.btn-lg, .btn-group-lg > .btn {
    padding: 0.5rem 2rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}


.centerit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub1 {
    padding-top: 7.6rem;
    padding-bottom: 7.6rem;
    position: relative;
    background: #f7f8f9;
}

.left-cover {
    position: absolute;
    width: 40%;
    height: 100%;
    background: black;
    background: url(../img/fixlaptop.jpg);
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


.tecni {
    height: 150px;
    width: 150px;
    object-fit: cover;

}

.fot {
    padding-top: 2rem; 
}















.underline {
    text-decoration: underline;
}

.smline{
    display: inline;
}

.smline:not(:last-child):after {
    border-right: 1px solid gray;
}


.smline {
    border-right: 1px solid gray;
}

  .smline:last-child {
    border-right: 0px solid gray;

}


.coco-blog1 {
    position: relative;
    height: 25rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 0.01px;
}

.vasimg-blog1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    transition: 0.8s all;
    transform: scale(1);
}

.overlay-light-black-blog1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.83) 100%);
}

.text-contain2-blog1 {
    text-align: left;
    position: relative;
    line-height: normal;
    text-transform: capitalize;
    padding-left: 2rem;
    padding-right: 2rem;
    color: #FFFFFF;
    bottom: 1rem;

}


.coco-blog1:hover .vasimg-blog1 {
    transform: scale(1.1);
  }
  

  .cocomns  {
    font-family: 'Playfair Display', serif;
    font-size: 39px;
    font-weight: 700;
    line-height: 41px;
    color: #228dd7;

   
}

a {
 
    text-decoration: none;
    background-color: transparent;
}

a:hover {

    text-decoration: none;
}

.booking {
    width: 100%;
    min-height: 80vh;
    background: rgb(13,24,36);
background: linear-gradient(0deg, rgba(13,24,36,1) 50%, rgba(255,255,255,1) 50%);
    padding: 5rem 0;
}